    <div class="well">
        <ul class="nav nav-list">
            <li class="nav-header-grey">POUR QUI?</li>
            <li class="active">
                <a href="index.php">Cadeau Femme</a>
            </li>
            <li>
                <a href="index.php">Cadeau Homme</a>
            </li>
            </br>

            <li class="nav-header-grey">PAR OCCASION</li>
            <li>
                <a href="index.php">Saint Valentin</a>
            </li>
            <li>
                <a href="index.php">Noël</a>
            </li>
            </br>

            <li class="nav-header-grey">PAR THEMATIQUE</li>
            <li>
                <a href="index.php">Cadeau Sportif</a>
            </li>
            <li>
                <a href="index.php">Cadeau Geek</a>
            </li>
            </br>

            <li class="nav-header-grey">PAR CATEGORIE</li>
            <li>
                <a href="index.php">Coffrets Cadeaux</a>
            </li>
            <li>
                <a href="index.php">Gadgets & Humour</a>
            </li>

            </br>

            <li class="nav-header-grey"><a href="index.php">NOS COUPS DE COEUR</a></li>

            </br>

            <li class="nav-header-grey"><a href="index.php">IDEES CADEAUX DE NOEL</a></li>

            </br>


        </ul>
    </div>
