{% block body %}


    <div class="span3">
        {% include 'administration/layoutAdmin.html.twig' %}
    </div>

    <div class="container">
        <div class="row">
            <div class="span9">
                {% for categorie in categorie %}
                    <section>
                        <ul>
                            <li>{{ categorie.name }}</li>
                        </ul>
                    </section>
                    <p><a href="{{ path('deletecategorie', {'id':categorie.id}) }}"><button type="submit">Supprimer</button></a>
                    </p>
                {% endfor %}
                </br>
                </br>
                </br>
                </br>
            </div>
        </div>
    </div>


{% endblock %}


        {% block footer %}
            {% include 'Administration/footerAdmin.html.twig' %}
        {% endblock %}