{% extends "::base.html.twig" %}
{% block body %}
    <div class="container">
        <form action="{{ path('addProducts') }}" method="post">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit">Ajouter !</button>
            {{ form_end(form) }}
        </form>
    </div>
{% endblock %}