<div class="well">
    <ul class="nav nav-list">
        <li>
            <a href="#">Produits</a>
        </li>
        <li>
            <a href="#">Catégories produits</a>
        </li>
    </ul>
</div>