<div class="well">
    <ul class="nav nav-list">
        <li>
            <a href="{{ path('monCompte') }}">Mon Compte</a>
        </li>
        <li>
            <a href="{{ path('productsListe') }}">Mes Produits</a>
        </li>
        <li>
            <a href="{{ path('addProducts') }}">Ajouter un Produit</a>
        </li>
    </ul>
</div>