{% block body %}

    <div class="span3" xmlns="http://www.w3.org/1999/html">
        {% include 'Administration/layoutAdmin.html.twig' %}
    </div>
    <div class="container">
        <div class="row">
            <div class="span12">

                <h1> Mon Compte </h1>
                </br>
                </br>
                </br>
                <ul class="thumbnails">

              <li><a href="{{ path('productsListe') }}"><img src="../img/mes-produits.png" alt="UnCadeau.com" width="235" height="235"></a></li>

    <li><a href="{{ path('addProducts') }}"><img src="../img/ajouter-produit.png" alt="UnCadeau.com" width="235" height="235"></a></li>


    <li><a href="{{ path('categorie') }}"><img src="../img/mes-categories.png" alt="UnCadeau.com" width="235" height="235"></a></li>

    <li><a href="{{ path('addcategorie') }}"><img src="../img/ajouter-categorie.png" alt="UnCadeau.com" width="235" height="235"></a></li>
                </div>
</ul>

                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>


            </div>
        </div>
    </div>


{% endblock %}

        {% block footer %}
            {% include 'Administration/footerAdmin.html.twig' %}
        {% endblock %}