{% block body %}

    <div class="span3" xmlns="http://www.w3.org/1999/html">
        {% include 'Administration/layoutAdmin.html.twig' %}
    </div>
    <div class="container">
        <div class="row">
            <div class="span9">

                <h1> Mon Compte </h1>
                </br>
                </br>
                </br>
                <div class="caption" >
                    <a href="{{ path('productsListe') }}"><img src="../img/logouncadeau.png" alt="UnCadeau.com" width="235" height="155"></a>
                    </br>
                    <h4><a href="{{ path('productsListe') }}">Mes Produits</a></h4>
                </div>

                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>


            </div>
        </div>
    </div>


{% endblock %}

        {% block footer %}
            {% include 'Administration/footerAdmin.html.twig' %}
        {% endblock %}